.body{
    font-family: 'Poppins', sans-serif;
}

.bg-grey{
    background-color: #F5F7F9;
}

.button-redis{
    background-color: #f76b6a;
    border-radius: 50px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 46px;
}
.price{
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins';
}

.bold{
    font-family: 'Poppins';
    font-size: 50px;
    font-weight: 900;
}

.sub-text{
    font-family: 'Poppins';
    font-size: 30;
    font-weight: 400;
    line-height: 30px;   
}

.sub-paragraph{
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 500;
}

.nav-item{
    color: black;
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 600;
}

.icons{
    font-size: 24px;
    color: black;
}

.icon-red{
    color: #f76b6a;
    font-size: 50px;
    margin-bottom: 20px;

}